.en{
    font-family: "neue-haas-grotesk-display-pr", sans-serif;
    letter-spacing: 1px; /* 영문 자간 (넓게) */
}

.header-logo-text a {
    color: #F3F3F3; /* 하얀색으로 고정 */
}


/* 2. Container (Title + Main Content) */
#container {
    flex: 9; 
    min-width: 0;
    display: flex;
    flex-direction: column;
    column-gap: 50px;
}

/* 2-1. Text Box (Title) */
#container-textBox {
    flex: 3;
    display: flex;
    flex-direction: column;
    min-width: 0;
    row-gap: 25px;
    /* position: sticky; */
    height: fit-content;
    margin-bottom: 30px;
}

.container-maintext {
    font-family: "adobe-gothic-std", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 5rem;
    color: #F3F3F3;
    letter-spacing: -0.2px;
}

.container-maintext p {
    margin: 0;
    line-height: 1;
}

.container-subtext {
    font-family: "neue-haas-grotesk-display-pr", "adobe-gothic-std", sans-serif;
    font-weight: 400;   
    letter-spacing: -0.2px;
    font-size: 1rem;
    line-height: 1.4;
    color: #F3F3F3;
}

/* 2-2. Main Content (Slider + Description) */
.container-main {
    flex: 6; 
    min-width: 0;
    display: flex;
    flex-direction: column;
    row-gap: 30px; /* 슬라이더와 텍스트 사이 간격 */
}

/* Slider Style */
.container-slider {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
    background-color: #181818;
}

.slider-content {
    outline: none; /* 포커스 라인 제거 */
}

.slider-content img {
    width: 100%;
    height: auto;
}

/* Slick Dots Customizing (Optional) */
.slick-dots li button:before {
    color: #fff;
}
.slick-dots li.slick-active button:before {
    color: #15D29C;
}

/* Captions */
.container-caption{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    
}

.captionKr, .captionEn {
    width: 40%;
    color: #F3F3F3;
}

.captionKr {
    font-family: "adobe-gothic-std", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: -0.8px;
    word-spacing: 0.7px;
    word-break: keep-all; /* 한글 단어 끊김 방지 */
}

.captionEn {
    font-family: neue-haas-grotesk-display-pr, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 2px;
    word-spacing: 1px;
}