html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "helvetica-neue-lt-pro","Pretendard", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 100%;    
    overflow-x: hidden;
    cursor: crosshair;
}

::selection {
  background: black;   /* 선택 영역 배경색 */
  color: white;        /* 선택한 텍스트 색상 */
}

p{
    margin: 0;
}

a{
    list-style: none;
    text-decoration: none;
    color: black;
}

#main-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 30px;
    margin-right: 30px;
}

#wrap{
    display: flex;
    flex: 1;
    flex-direction: column;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-top: 10px;
    border-top: 30px solid black;
}

/* header Css*/

.header-logo img{
    width: 64px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    font-weight: 500;
    font-size: 1.1rem;
    align-items: center;
}

#index-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
}

#index-main video{
    width: 100%;
}

/* web.html Css */

#web-grid{
    display: flex;
    flex: 2;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.web-grid-item p{
    display: inline-block;
    font-size: 6rem;
}

/* main-grid CSS */
#main-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 50px;
    row-gap: 50px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-item :hover{
    opacity: 70%;
    transition: 0.3s;
}

.grid-item img{
    width: 100%;
    padding-top: 10px;
    object-fit: contain;
}

.grid-item p{
    margin-top: 10px;
    font-size: 0.7rem;
    font-weight: 400;
}

/* container CSS */

#container{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.container-maintext{
    font-weight: 900;
    font-size: 6rem;
}

.container-subtext{
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
}

.container-slider{
    display: flex;
    align-items: center;
    width: 80%;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    
}

.slider-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 0 10px;
    box-sizing: border-box;
}

.container-slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 0 10px; /* 이미지 간 간격 */
  box-sizing: border-box;
}


.container-main{
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}

.container-caption{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.captionKr{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1px;
    word-spacing: 0.03em;
    line-height: 1.2;
}

.captionEn{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2
}

/* video-flex CSS */
#video-flex{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
}

.flex-item{
    width: 100%;
}

/* music-grid CSS */
#music-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
}

.grid-item-music{
    border-top: 5px solid black;
    padding: 10px;
}

/* photo CSS */
#photo-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    column-gap: 50px;
    row-gap: 150px;
}

.photo-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-item img{
    width: 100%;
    padding-top: 10px;
    object-fit: contain;
    border-top: 5px solid black;
}

.photo-item p{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 10px;
}


/* footer CSS */
#footer{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-top: 5px;
    font-weight: 300;
    font-size: 0.8rem;
    /* border-top: 5px solid black; */
}

/* 반응형 CSS */

@media (max-width : 768px) {
#header{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    padding-top: 5px;
    border-top: 0px solid black;
}

#footer{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-top: 5px;
    font-size: 0.8rem;
    border-top: 5px solid black;
}

#web-grid{
    display: flex;
    flex: 0;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.web-grid-item p{
    display: inline-block;
    margin-top: 30px;
    border-top: 5px solid black;
    font-weight: 900;
    font-size: 3rem;
}

#main-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
}

#wrap{
    margin-top: 30px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

#main-grid,
#music-grid,
#photo-grid {
    grid-template-columns: repeat(1, 1fr);  /* 또는 2개 */
    column-gap: 20px;
    row-gap: 100px;
  }

.header-nav {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    font-size: 1rem;
    align-items: center;
    }
}